 .menu {
     padding-top: 50px;
     position: fixed;
     left: 0;
     top: 50px;
     animation: 0.5s;
 }

 .darkMenu {
     padding-top: 50px;
     position: fixed;
     left: 0;
     top: 50px;
     animation: 0.5s;
 }

 .nav {
     top: 0;
     width: 98vw;
     position: fixed;
 }

 .darkMenuDiv {
     -webkit-box-shadow: 8px 8px 12px -2px rgba(232, 238, 242, 0.33);
     -moz-box-shadow: 8px 8px 12px -2px rgba(232, 238, 242, 0.33);
     box-shadow: 8px 8px 12px -2px rgba(232, 238, 242, 0.33);
 }

 .lightP {
     display: inline-block;
     margin-left: 20px;
 }

 .darkP {
     color: white;
     display: inline-block;
     margin-left: 20px;
 }